.menu, .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.menu {
	position: absolute;
}
.menu li {
	float: left;
	width: 200px;
	position: relative;
}
/*
.menu li:hover > ul {
	display: block;
}
*/
.menu li ul {
	display: none;
}
.menu li ul li ul {
	position: absolute;
	left: 200px;
	top: 0;
}
.menu li, .menu li a {
	background-color: #444;
	color: #eee;
	float: left;
	margin: 0;
}
.menu a {
	display: block;
	height: 20px;
	padding: 5px;
	width: 190px;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
}
.menu a:hover {
	background-color: #666;
	color: #fff;
	/*text-decoration: underline;*/
}

.clear {
	clear: both;
}
#content {
	margin-top: 40px;
}