@charset "utf-8";
/*=================================
Auguest 2013
By : Away
http://www.dfuns.idv.tw
http://dfuns.blogspot.com
=================================*/

*{ position:relative; padding:0; margin:0; line-height:1;}
body{ background:url(images/bg.jpg);}
h1{ font-family:Arial, Helvetica, sans-serif; text-align:center; color:#999; margin:20px;}
ul{ list-style:none;}
.sliderWrap{ width:600px; height:400px; border:solid 1px #ccc; margin:20px auto; overflow:hidden;}
.slider li{ float:left;}
.slider{ position:absolute;}
.prev, .next{ display:block; position:absolute; top:50%; width:36px; height:36px; background:rgba(0,0,0,.5); margin-top:-18px; text-indent:-9999px;}
.prev:hover, .next:hover{ background:#000;}
.prev{ left:0;}
.next{ right:0;}
.prev:before, .next:before{ content:''; display:block; position:absolute; top:7px; border:solid 10px transparent;}
.prev:before{ border-right-color:#ccc; left:0;}
.next:before{ border-left-color:#ccc; left:15px;}
.prev:hover:before{ border-right-color:#fff;}
.next:hover:before{ border-left-color:#fff;}

.navi{ position:absolute; right:10px; bottom:10px;}
.navi a{ display:inline-block; background:rgba(0,0,0,.5); color:#fff; padding:0 .5em; line-height:1.5; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
a.now{ background:#FC0; color:#000;}



